body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://github.com/lq0502/lq0502.github.io/blob/main/images/piano.png'); /* 替换为你的图片的URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #333;
}

.piano {
    display: flex;
    border: 2px solid #000;
    border-radius: 5px;
}

.key {
    width: 40px;
    height: 150px;
    border: 2px solid #000;
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end; 
    font-size: 1.0em; 
    color: black;
}

.white {
    flex: 1;
}

.black {
    width: 20px;
    height: 100px;
    background-color: #000;
    margin: 0 -10px;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    font-size: 0.8em; 
    color: white; 
}
